<div class="filters-container">
    <form>
        <mat-form-field class="filter-item">
            <mat-label>Breed</mat-label>
            <input matInput type="text" [formControl]="filter" placeholder="Breed" name="cat-breed"/>
        </mat-form-field>

        <mat-form-field class="filter-item">
            <mat-label>Count of cats</mat-label>
            <input matInput placeholder="Count of cats" [(ngModel)]="catCount" value="10" name="cat-count"/>
        </mat-form-field>
    </form>

    <button (click)="search()">Search</button>
</div>