.filters-container {
    background-color: aliceblue;
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.filter-item {
    flex: 1 1 auto;
    margin: 0 15px 0 0;
}

@media only screen and (max-width: 390px) {
    .filters-container {
        height: 160px;
    }
}